* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Barlow+Semi+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

body{
    background-color: #FFF5EE;
}

h1{
    float: left;
    margin-left: 10%;
    color: rgb(81, 113, 184);
    font-size: 200%;
    font-family: ABeeZee;
}

nav {
    text-align: center; 
    font-size: 130%;
    font-family: Barlow Semi Condensed;
}

nav a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin-left: 28em;
    overflow: hidden;
}

nav ul li {
    padding-top: 3%;
    display: inline-block;
}

nav ul li a{
    display: inline;
    color: rgb(127, 148, 245);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(255, 159, 167);
}


/* index.html cupcakebanner, aside, section, section2 */
.cupcakebanner{
    margin-top: 1em;
    background-image: url(../images/coconut.JPG);
    height: 500px;
    width: 100%;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.cupcakebanner-text{
    font-family: work sans;
    font-size: 1.2em;
    text-align: center;
    color: rgb(19, 10, 70);
    padding-top: 140px;
}

.cupcakebanner-text a{
    border: 2px solid rgb(19, 10, 70);
    text-decoration: none;
    color: rgb(224, 221, 236);
    display: block;
    width: 150px;
    margin: 20px auto;
    border-radius: 30px;
    padding: 8px;
    text-align: center;
}

.cupcakebanner-text a:hover{
    color: rgb(245, 176, 214);
}

aside{
    width: 30%;
    float: left;
    display: block;
    border: 3px solid rgb(81, 113, 184);
    background-color: rgb(253, 252, 251);
    text-align: center;
    font-family: barlow semi Condensed;
    margin-top: 1em;
    margin-left: 12em;
    padding-bottom: 1.83em;
}

aside h3{
    font-size: 30px;
    color: rgb(13, 37, 90);
}

aside ul li{
    list-style-type: none;
    margin-right: 3em;
    padding-bottom: .5em;
    color: rgb(13, 37, 90);
}

aside p{
    color: rgb(236, 10, 10);
    font-size: 20px;
}

section{
    width: 40%;
    float: right;
    display: block;
    border: 3px solid rgb(81, 113, 184);
    background-color: rgb(253, 252, 251);
    text-align: center;
    font-family: barlow semi Condensed;
    margin-top: 1em;
    margin-right: 12em;
}

section p{
    color: rgb(13, 37, 90);
}

.clearfix{
    clear: both;
}

.section2{
    width: 40%;
    float: right;
    display: block;
    border: 3px solid rgb(81, 113, 184);
    background-color: rgb(253, 252, 251);
    text-align: center;
    margin-top: 1em;
    margin-right: 12em;
}

.section2 h3{
    text-align: left;
    margin-left: 2em;
    font-family: barlow semi Condensed;
    color: rgb(13, 37, 90);
}

.section2 p{
    font-family: ABeeZee;
    font-size: larger;
    color: green;
}

.section2 img{
    height: 100px;
    width: 100px;
}

.section2 h4{
    font-family: barlow semi condensed;
}
/* end of index.html */

/* about.html .aboutus*/

.aboutus{
    margin-left: 10em;
    padding-top: 5em;
    width: 30%;
    height: 50%;
    line-height: 32px;
    font-family: AbeeZee;
    float: left;
}
.bakery{
    padding-top: 5em;
    text-align: center;
}

.bakery img{
    margin-right: 4em;
    width: 30%;
    height: 50%;
}

.socials {
    margin-top: 5em;
    display: block;
    border: 3px solid rgb(81, 113, 184);
    background-color: rgb(253, 252, 251);
    padding-left: 5em;
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

/* end of about.html*?

/* cupcakes.html*/
.menuheader{
    margin-left: 10em;
    font-family: Work Sans;
    color: rgb(13, 37, 90);
}
.column {
    float: left;
    width: 25%;
    padding: 5px;
    text-align: center;
    font-family: AbeeZee;
  }

.row {
    clear: both;
    display: flex;
    display: table;
  }

  /* end of cupcakes.html*/

  /* contact.html*/
.contactus{
    text-align: center;
    font-family: Work Sans;
    background-image: url(../images/redvelvet.JPG);
    background-position: center;
    color: peachpuff;
  }

  /* end of contact.html*/

  /* events.html */
 .calendar{
     font-family: work sans;
     background-image: url(../images/assortment.JPG);
     background-size: cover;
     background-position: center;
     height: 100vh;
     padding-bottom: 5em;
 }
 
.calendar table, td, th{
    border: 1px solid  rgb(13, 37, 90);
    border-collapse: collapse;
  }
.calendar table{
    margin: 80px auto;
    background-color: peachpuff;
    box-shadow: 0 10px 60px black;
  }

.calendar td, th{
    padding: 20px;
    opacity: 0.9;
  }

 
